body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}



.container {
    max-width: 960px;
    margin: 0;
    padding: 20px 0;
}

header {
    background-color: #fff;
    display: inline-block;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 14%;
}

.logo img{
    height: 130px;
    width: 130px;
    margin: auto;

}

header nav {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.roboto-mono {
font-family: "Roboto Mono", monospace;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}

#hero {
    background-color: #e9ecef;
    text-align: center;
    padding: 70px 0;
}

#hero h1 {
    font-family: roboto-mono;
    font-size: 3em;
    text-align: center;
}

#hero p,
#services h2 {
    text-align: center;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.services {
    padding: 50px 0;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.service {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.resources {
    padding: 50px 0;
}

.resources ul {
    list-style: disc;
    padding-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.social {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social li {
    display: inline-block;
    margin: 0 10px;
}

.social a {
    color: #fff;
    font-size: 2em;
}